h3{
    font-weight: 800;
    font-size: 1.5vw;
    color: green;
    margin-left: 5vw;
}

button{
    padding:0.2vw 0.4vw;
    border-radius: 6px;
    margin:0.3vw;
    border:1px solid blue;
    background-color: transparent;
}